{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
  SAMI-ANALISIS
{% endblock title %}

{% block content %}
    {{ block.super }}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-warning">ANALISIS DE DATOS</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead"><br>Mayo 2017<br><br>Quienes son sus mejores clientes?<br>En que temporadas mejoran sus ventas?<br>Cuanto deberia comprar mi cliente en el mes que viene?&nbsp;<br><br>Son algunas preguntas de las preguntas que se trataran de responder, utilizando
            herramientas como bases de datos no relacionales, plataformas de desarrollo de ultima generacion, y aprendizaje automatico del computador.<br><br>El presente proyecto, tiene como objetivo principal, realizar un analisis de informacion de ventas
            para obtener datos relevantes y valiosos para el area administrativa de su empresa.</p>
            <p>El presente es el trabajo de fin de master, de la carrera, Máster Universitario en Visual Analytics y Big Data </p>
            <p>Diego Muñoz</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead"> Existen tres pasos necesarios que la informacion este actualizada que son: </p>
          <ul class="lead">
            <li>importar informacion</li>
            <li>entrenar al sistema intelgente</li>
            <li>visualizar los resultados</li>
          </ul>
        </div>
        <div class="col-md-8"><img class="center-block img-fluid d-block" src="{%  static 'img/pasos.png' %}"></div>
      </div>
    </div>
  </div>
{% endblock content %}
	
